.header.navbar {
  width: 100%; 
  padding: 0 5px 0 5px;
  margin: 0;
  border: 0px;
  padding: 0px; 
  box-shadow: none;
  height: 60px; 
  min-height: 60px;
}
  

.header {
  filter: none !important;
  background-image: none !important;
  /*background-color: #0f4e74 !important;*/
  background-color: #F1F1F1 !important;

}
.header .btn-navbar {
  background-color: #0f4e74 !important;
}

.header.navbar.navbar-fixed-top {
  z-index: 9995 !important;
}

.header.navbar .navbar-brand {
  display: inline-block;
  margin-top: -1px;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 225px;
  height: 60px;
}

.navbar-brand {
	float: left;
  padding: 5px;
	font-size: 18px;
	height: 60px;
}
.header.navbar .navbar-brand img {
  /*margin-left: 20px;*/
  vertical-align: middle;
}

.header.navbar .navbar-brand.text-logo {
  padding-left: 20px;
  padding-top: 12px;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display: block;
	max-width: 100%;
	height: auto;
}


.dashboard {
	/*content: "\f015";*/
	background-image:url(../images/home.png) !important;
}

.treeleaf {
  background-image: url(../images/tree.png) !important;
}